h2 {
  margin: auto;
  text-align: center;
  color: #007bff; /* Blue color */
}

/* Basic Form Styling */
form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light grey background */
  max-width: 500px; /* Optional: set max-width to prevent form from becoming too wide */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items vertically */
  /* align-items: center; Center items horizontally */
}

/* Form Input Fields */
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 1px 0;
  border: 2px solid #007bff; /* Blue border */
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Light grey background */
}
input[type="number"] {
  width: 20%;
}

/* Submit Button */
button[type="submit"] {
  background-color: #007bff; /* Blue color */
  color: #fff; /* White color */
  text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.2); /* Shadow effect */
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 80%;
  margin: auto;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Label Styling */
label {
  display: block;
  font-weight: bold;
  margin-bottom: -14px;
  width: 100px; /* Adjust according to your design */
  display: inline-block;
}
